[Unit]
Description=Modbus test server
After=network.target

[Service]
User=morse
Group=morse
Restart=on-failure
ExecStart=/home/morse/service/modbus_server
WorkingDirectory=/home/morse/service
StandardOutput=append:/home/morse/service/log/modbus_server.log
StandardError=append:/home/morse/service/log/modbus_server.log

[Install]
WantedBy=multi-user.target