[Unit]
Description=Morse data collecting agent
After=network.target

[Service]
User=morse
Group=morse
Restart=on-failure
ExecStart=/home/morse/service/morse-home
WorkingDirectory=/home/morse/service
StandardOutput=append:/home/morse/service/log/morse-home.log
StandardError=append:/home/morse/service/log/morse-home.log

[Install]
WantedBy=multi-user.target